.submit {
    background-color: var(--blue-shade-4);
    color: var(--background);
    padding: 10px 12px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 100ms ease-in;
}

.submit:hover, .submit:focus {
    background-color: var(--blue-shade-2);
}

.submit:active {
    background-color: var(--blue-shade-5);
}

.submit:active:focus {
    outline: none;
}