body {
    background-color: var(--blue-light-2);
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --background: #FFFFFF;
    --blue-base: #86b6f6;
    --blue-shade-1: #5e7fac;
    --blue-shade-2: #506d94;
    --blue-shade-3: #435b7b;
    --blue-shade-4: #364962;
    --blue-shade-5: #28374a;
    --blue-light-1: #9ec5f8;
    --blue-light-2: #B4D4FF;
}

input {
    all: unset;
}